@import url('./css/reset.css');
@import url('./css/fonts.css');

@import url('./assets/fontawesome/all.min.css');

@import url('./css/variables.css');
@import url('./css/layout.css');
@import url('./css/button.css');
@import url('./css/modal.css');
@import url('./css/form.css');

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: var(--default-font-family);
  transition: var(--default-transition);
  cursor: pointer;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--default-font-family);
  background-color: var(--color-base-background);
  color: var(--color-text-primary);
  line-height: 1.3;
}
body.disabled-scroll {
  overflow-y: hidden !important;
  /* padding-right: 17px; */
}

.card-section {
  background-color: var(--color-card-section-background);
  border-radius: var(--default-border-radius);
  padding: 16px;
}

.page-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 16px;
}

/* .lvl-chip {
  
} */