.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--default-border-radius);
  font-size: 0.875rem;
  font-weight: 500;
  height: 32px;
  padding: 0 12px 2px 12px;
  background-color: var(--color-button-default-background);
  color: var(--color-text-primary);
}
.button:hover {
  background-color: var(--color-button-default-hover-background);
}

.button.button-red {
  background-color: var(--color-red);
}
.button.button-red:hover {
  opacity: 0.75;
}