.medium-container {
  max-width: 1080px;
  /* margin: auto; */
}

.card-section {
  background-color: var(--color-dark-2);
  border-radius: var(--default-border-radius);
  padding: 16px;
}

.page-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 16px;
}

/* .lvl-chip {
  
} */