.medium-container {
  max-width: 1080px;
  /* margin: auto; */
}

.card-section {
  background-color: var(--color-dark-2);
  border-radius: var(--default-border-radius);
  padding: 12px;
}

.page-title {
  font-size: 0.938rem;
  font-weight: 700;
  margin-bottom: 16px;
}