#includedHeaderWrapper {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
}
#header {
  width: 100%;
  height: var(--size-header-height);
  background-color: var(--color-layout-background);
  display: flex;
  align-items: center;
  padding: 0 16px;
}
#header .header-logo {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 8px;
  color: var(--color-text-primary);
}
#header .navigation-panel {
  display: flex;
  align-items: center;
  margin: 0 16px;
}
#header .navigation-panel a {
  transition: var(--default-transition);
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: var(--size-header-height);
  color: var(--color-text-primary);
}
#header .navigation-panel a:hover {
  background-color: var(--color-dark-2);
}
#header .navigation-panel a.active {
  background-color: var(--color-dark-1);
  color: var(--color-primary);
}
#header .navigation-panel a i {
  font-size: 14px;
}
#header .navigation-panel a span {
  font-size: 0.813rem;
  font-weight: 500;
  margin-left: 8px;
}

#pageContentWrapper {
  padding: 12px 12px 24px 12px;
  min-height: calc(100vh - var(--size-header-height) - var(--size-footer-height));
}

#footer {
  width: 100%;
  height: var(--size-footer-height);
  background-color: var(--color-layout-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.813rem;
  color: var(--color-text-secondary);
}