:root {
  --color-primary: #1cebc7;
  --color-blue: #1ca8eb;
  --color-red: #eb1c40;

  --color-base-background: #212225;
  --color-layout-background: #0f1113;
  --color-overlay: rgba(0, 0, 0, 0.3);

  --color-dark-1: #212225;
  --color-dark-2: #2c2f36;
  --color-dark-3: #3e424c;
  --color-dark-4: #4f5561;
  --color-dark-5: #616777;

  --color-button-default-background: #696f7d;
  --color-button-default-hover-background: #575c68;

  --color-text-primary: #f8f9fa;
  --color-text-secondary: #989aa0;
  --color-text-placeholder: #6c757d;

  --color-border: #3c4557;
  --color-border-light: #4c576f;

  --size-header-height: 56px;
  --size-footer-height: 56px;
  --size-input-height: 40px;
  
  --size-modal-default-width: 360px;
  --size-modal-title-height: 48px;
  
  --size-loado-cell-width: 148px;
  --size-loado-cell-height: 44px;
  --size-loado-cell-width-sm: 108px;
  --size-loado-cell-height-sm: 36px;

  --default-transition: 0.25s ease-in-out;
  --default-border-radius: 4px;
  --default-font-family: 'Noto Sans KR', sans-serif;

  --z-index-header: 10;
  --z-index-drag-target-ghost: 15;
  --z-index-modal-background: 99;
  --z-index-modal-content: 100;
  --z-index-fixed-loading: 200;
  --z-index-snackbar: 201;
}