.loado-page-container {
  display: flex;
  overflow-x: auto;
}
.loado-page-container .loado-page-sub-area {
  margin: 0 16px;
}
.loado-page-container .loado-page-main-area .card-section {
  min-width: 600px;
  margin-bottom: 16px;
}
.loado-page-container .loado-page-sub-area .card-section {
  min-width: 280px;
}
.loado-page-container .loado-page-memo-area .card-section {
  min-width: 240px;
}

.loado-page-container .card-section-title-panel {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.loado-page-container .card-section-title-panel .card-section-title {
  font-size: 0.813rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}
.loado-page-container .card-section-title-panel .setup-loado-btn {
  height: 28px;
  font-size: 0.75rem;
  margin-left: 8px;
}

/* Loado Table Common */
.loado-cell {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-loado-cell-width);
  height: var(--size-loado-cell-height);
}
.loado-cell.loado-cell-hide {
  display: none;
}
.loado-content-cell {
  cursor: pointer;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--default-transition);
  /* box-shadow: 0 0 1px red; */
}
.loado-content-cell:hover {
  background-color: var(--color-dark-3);
}
.loado-content-cell.loado-content-cell-text {
  word-break: keep-all;
  text-align: center;
  padding: 0 6px;
  line-height: 16px;
  font-size: 0.75rem;
}
.loado-content-cell.loado-content-cell-checkbox:active {
  background-color: var(--color-dark-4);
}
.loado-content-cell.loado-content-cell-checkbox i {
  font-size: 16px;
}
.loado-content-cell.loado-content-cell-checkbox i.no-active { display: block; }
.loado-content-cell.loado-content-cell-checkbox i.active { display: none; }
.loado-content-cell.loado-content-cell-checkbox.active i.no-active { display: none; }
.loado-content-cell.loado-content-cell-checkbox.active i.active { display: block; }


.loado-content-cell.loado-content-cell-relaxatio-bonus {
  
}




/* Loado Table Specific */
#main-table,
#main-table .table-body {
  display: flex;
}
#main-table .loado-cell {
  border-bottom: 1px solid var(--color-border);
}
#main-table .loado-cell.loado-cell-header,
#main-table .loado-cell.loado-cell-last-daily {
  border-bottom: 2px solid var(--color-border-light);
}
#main-table .main-table-subject-cell {
  justify-content: flex-start;
  width: var(--size-loado-cell-width-sm);
}
#main-table .main-table-subject-cell-img {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
#main-table .main-table-subject-cell-img img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#main-table .main-table-subject-cell-label {
  font-size: 0.75rem;
  font-weight: 500;
}
#main-table .table-body .loado-nickname-cell {
  cursor: pointer;
  flex-direction: column;
}
#main-table .table-body .loado-nickname-cell:hover {
  background-color: var(--color-dark-3);
}
#main-table .table-body .loado-nickname-cell .loado-nickname-cell-classname {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}
#main-table .table-body .loado-nickname-cell .loado-nickname-cell-nickname {
  font-size: 0.813rem;
  font-weight: 500;
  color: var(--color-primary);
}

/* Loado Modal */
.loado-modal {
  width: 800px;
}
.loado-modal .modal-content {
  padding: 16px 12px 12px 12px;
}
.loado-modal .modal-section {
  margin-bottom: 16px;
}
.loado-modal .modal-section-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-secondary);
  margin-bottom: 4px;
}
.loado-modal .check-cell-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.loado-modal .check-cell {
  user-select: none;
  transition: background-color var(--default-transition);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 12px;
}
.loado-modal .check-cell:hover {
  background-color: var(--color-dark-4);
}
.loado-modal .check-cell .check-cell-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1.5px solid #fff;
}
.loado-modal .check-cell .check-cell-icon i {
  font-size: 8px;
  display: none;
}
.loado-modal .check-cell .check-cell-label {
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 2px;
}
.loado-modal .check-cell.check-cell-active .check-cell-icon {
  border-color: var(--color-primary);
}
.loado-modal .check-cell.check-cell-active .check-cell-icon i {
  color: var(--color-primary);
  display: block;
}
.loado-modal .check-cell.check-cell-active .check-cell-label {
  color: var(--color-primary);
}
.loado-modal .modal-action-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loado-modal .modal-action-btn {
  min-width: 160px;
  height: 36px;
}

#memo-contents-modal {
  width: 360px;
}
#memo-contents-modal #memo-contents-submit-btn {
  min-width: 80px;
}
