.card-section {
  margin-bottom: 16px;
}
.card-section-title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.card-section-title .character-count {
  color: var(--color-text-secondary);
  margin-left: 4px;
}

.add-character-form {
  display: flex;
  align-items: center;
}
.add-character-form .input {
  max-width: 240px;
  margin-right: 12px;
}
.add-character-form .button {
  width: 80px;
  height: var(--size-input-height);
}

#myCharacterList {
  border-top: 1px solid var(--color-border);
}

.character-item {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  user-select: none;
}

.character-info-panel {
  transition: background-color var(--default-transition);
  flex: 1;
  display: flex;
  align-items: center;
  padding: 12px 8px;
}
.character-info-panel:hover {
  background-color: var(--color-dark-1);
}
.character-level {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: var(--color-dark-3);
  padding: 6px 10px;
  min-width: 64px;
}
.character-nickname-panel {
  margin-left: 12px;
}
.character-nickname-panel .character-nickname {
  font-size: 0.875rem;
  font-weight: 700;
}
.character-nickname-panel .character-class {
  font-size: 0.813rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.character-action-panel {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.character-action-panel .character-action-btn {
  margin-left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-dark-3);
}
.character-action-panel .character-action-btn:first-of-type {
  margin-left: 0;
}
.character-action-panel .character-action-btn:hover {
  background-color: var(--color-dark-4);
}
.character-action-panel .character-action-btn:active {
  background-color: var(--color-dark-5);
}
.character-action-panel .character-action-btn i {
  font-size: 14px;
  color: var(--color-text-secondary);
}
